html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  text-rendering: optimizeLegibility;
}

html, body {
  height: 100%;
  margin: 0;
}

html {
    overflow-y: scroll;
}

body {
  font-family: $sans;
}

.logo {
    cursor: pointer;
    position: absolute;
    width: 240px;
    height: 110px;
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-position: 0 -6px;
        object-fit: cover;
    }
    span {
        position: absolute;
        color: #fff;
        z-index: 1;
        width: 100%;
        bottom: 0;
        line-height: 36px;
        text-align: center;
        text-decoration: underline;
    }
}
.logo:hover {
    font-weight: bold;
}

.navtop {
	border-top: 30px solid #37f;
	display: flex;
	flex-wrap: wrap;
	.fill { width: 240px; height: 80px; }
    background: #eee;
    border-bottom: 5px solid #eee;

	a {
		line-height: 80px;
		padding: 0 16px;
		color: #37f;
		font-weight: bold;
		font-size: 30px;
		text-decoration: none;
        &:hover {
            text-shadow: 4px 4px 4px rgba(0,0,0,.3);
        }
    }
    a.ham {
        padding: 0;
        width: 60px;
        width: calc(100% - 240px);
        max-width: 100px;
        text-align: center;
        color: #000;
        display: none;
    }
    a.link {
        background: #fff;
        color: #000;
        font-weight: normal;
        white-space: nowrap;
        text-align: center;
        padding: 22px;
        font-size: 14px;
        line-height: 18px;
        border-right: 1px solid #ddd;
        &.oneline { padding: 31px 22px; }
    }
    a.tel {
		flex-grow: 1;
		text-align: right;
	}
}

@media (max-width: 1180px) {
    .navtop {
        a.ham { display: block; }
        a.link {
            display: block;
            overflow:  hidden;
            flex-basis: 100%;
            height: 0px;
            line-height: 14px;
            padding: 0;
            &.oneline { padding: 0; }
            border: 0 solid #fff;
            position: relative;
            color: #fff;

            border-right: none;
            br { display: none; }
            order: 4;

        }
        &.animateHeight a.link { transition: padding .25s; }
        a.tel { order: 3; }

        &.expand {
            a.link {
                color: #000;
                border-bottom: 1px solid #ddd;
                height: inherit;
                padding: 13px 0 9px 0;
                &:hover {
                    background: #ddf;
                    text-shadow: none;
                }
            }
        }
    }
}


article > .block {
    font-family: $sans;
    margin: 50px 90px;

    .big-blurb {
        font-size: 27px;
        text-align: center;
        margin: 40px 0;
    }
    .red {
        color: $cHighlight2;
    }
    .small-blurb {
        font-size: 16px;
        line-height: 26px;
        margin: 40px 0;
    }
    .med-blurb {
        font-size: 19px;
        font-weight: 600;
        text-align: center;
        margin: 40px 0;
    }
    hr {
        width: 100%;
    }
    ul {
        padding: 0;
        margin: 0;
        width: 48%;
        width: calc(50% - 20px);
    }
    ul.left { float: left; }
    ul.right { float: right; }
    ul li {
        background: url(/i/heart-bullet.gif) no-repeat 0 3px;
        list-style: none;
        padding: 0 0 15px 30px;
    }
    .clear { clear: both; display: block; }
}
@media (max-width:900px) {
    article > .block {
        margin: 50px 10vw;
        ul {
            width: 100%!important;
        }
    }
}

    .summary {
        background: #f0f0dc;
        font-family: $sans;
        font-size: 16px;
        text-align: center;
        overflow: auto;
        padding: 0 1em 4em 1em;

        .arrow { @include arrow(white, #f0f0dc, 3em); }
        .headline {
            font-size: 1.6em;
            font-weight: 600;
        }
        .headline b {
            text-transform: uppercase;
        }
        .headline i {
            font-style: normal;
            color: $cHighlight2;
        }
        .item div {
            padding: 2em 2em 0 2em;
        }
        .item b {
            font-weight: 600;
            display: block;
        }
        .item i {
            font-weight: 300;
            font-size: 36px;
            font-style: normal;
            color: $cHighlight2;
            display: block;
        }
    }

    @media (min-width:900px) {
        .summary .item {
            float: left;
            width: 33%;
        }
    }

