html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  text-rendering: optimizeLegibility;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: $sans;
}

.logo {
    cursor: pointer;
    position: absolute;
    width: 240px;
    height: 110px;
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-position: 0 -6px;
        object-fit: cover;
    }
    span {
        position: absolute;
        color: #fff;
        z-index: 1;
        width: 100%;
        bottom: 0;
        line-height: 36px;
        text-align: center;
        text-decoration: underline;
    }
}
.logo:hover {
    font-weight: bold;
}

.navtop {
	border-top: 30px solid #37f;
	display: flex;
	flex-wrap: wrap;
	.fill { width: 240px; }
    background: #eee;

	span, a {
		line-height: 80px;
		padding: 0 20px;
		color: #37f;
		font-weight: bold;
	}
	a {
		font-size: 30px;
		flex-grow: 1;
		text-align: right;
		text-decoration: none;
	}
}
